{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} toolbox {% endblock %}
{% block navbar %}
<div class="container">
        <div class="navbar navbar-inverse">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">ZRed toolbox</a>
                </div>
                <div class="navbar-collapse collapse">
                        <ul class= "nav navbar-nav" >
				<li><a href= "/traceroute" > traceroute </a></li>
				<li><a href= "/dig" > dig </a></li>
                                <li><a href= "/whois" > whois </a></li>
                                <li><a href= "/password" > password generator </a></li>
                                <li><a href= "/passphrase" > passphrase generator </a></li>
                        </ul>
                </div>
	</div>
</div>

{% endblock %}
{% block content %}
<div class="container">
	{{ wtf.quick_form(form) }}
	<br />
	<p>{{output|safe}}</p>
</div>
{% endblock %}
